<% layout('layouts/boilerplate')%>
    <div class="row">
        <h1 class="text-center">Nowa Lokalizacja</h1>
        <div class="col-6 offset-3">
            <form action="/lokalizacje" method="POST" novalidate class="validated-form">
                <div class="mb-3">
                    <label for="miejscowość" class="form-label">Miejscowość</label>
                    <input type="text" class="form-control" name="lokalizacja[miejscowość]" id="miejscowość" required>
                </div>
                <div class="mb-3">
                    <label for="dostepność" class="form-label">Dostępność</label>
                    <input type="text" class="form-control" name="lokalizacja[dostępność]" id="dostępność" required>
                </div>
                <div class="mb-3">
                    <label for="opis" class="form-label">Opis</label>
                    <textarea type="text" class="form-control" name="lokalizacja[opis]" id="opis" required></textarea>
                </div>
                <div class="mb-3">
                    <label for="miejsce" class="form-label">Miejsce</label>
                    <input type="text" class="form-control" name="lokalizacja[miejsce]" id="miejsce" required>
                </div>
                <div class="mb-3">
                    <button class="btn btn-success">Dodaj Lokalizację</button>
                </div>
            </form>
            <a href="/lokalizacje">Wróć</a>
        </div>
    </div>